.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .example-card{
      margin: 50px;
  }
  .footer{
 background-color: #8BC2D1;
  }
  example-container {
    display: flex;
    flex-direction: row;
  }
  
  .example-container > * {
    margin-left: 30px;
   text-align: center;
   
  }

  mat-card-header{
    justify-content: center;
    align-items: center;
  }
  table {
    width: 100%;
  }
  
  .but{
    background-color: #8BC2D1; 
  }
  .tool{ 
    background-color: #8BC2D1; 
    position: relative;
  }
  .total{
      margin-top: 30px;
      margin-left: 100px;
      text-align: center;
      justify-content: center;
    align-items: center;
  }

  .mat-elevation-z10{
    padding: 7px;
    background-color: #CEE3F6;
    text-align: center;
  }